.page.theme_dark {
  /* colors */
  --main-color: #000028;
  --main-font-color: #f1b2cE;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --outline-color: #ff0070;
  --theme-button-color: #ff0070;
  --title-color: #ff0070;
  --accent-title-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);

  /* fonts */
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-font-weight: 400;
  --accent-font-weight: 700;

  /* Other */
  --header-cover: url(../images/cover-image-dark.png);
  --container-padding: min(2.67vi, 20px);
}

.page.theme_dark .header__decorative-element {
  display: block;
}
