.page.theme_light {
  /* colors */
  --main-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-title-color: #FFC2E6;
  --main-font-color: #353430;
  --title-color: #353430;
  --accent-title-color: #353430;
  --outline-color: #353430;
  --theme-button-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);

  /* fonts */
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-font-weight: 400;
  --accent-font-weight: 700;

  /* Other */
  --header-cover: url(../images/cover-image-light.png);
  --container-padding: min(2.67vi, 20px);
}

.page.theme_light .header__decorative-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* colors */
    --main-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --main-title-color: #FFC2E6;
    --main-font-color: #353430;
    --title-color: #353430;
    --accent-title-color: #353430;
    --outline-color: #353430;
    --theme-button-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);

    /* fonts */
    --main-font: 'IBM Plex mono';
    --main-font-size: 18px;
    --main-font-weight: 400;
    --accent-font-weight: 700;

    /* Other */
    --header-cover: url(../images/cover-image-light.png);
    --container-padding: min(2.67vi, 20px);
  }

  .header__decorative-element {
    display: none;
  }

}
