.page {
  font-family: var(--main-font, sans-serif);
  background-color: var(--main-color, #000028);
}

.header {
  position: relative;
  padding: var(--container-padding, min(2.67vi, 20px));
  background-image: var(--header-cover, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: 1;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  inset-block-start: var(--container-padding, min(2.67vi, 20px));
  inset-inline-end: var(--container-padding, min(2.67vi, 20px));
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  inset-block-end: var(--container-padding, min(2.67vi, 20px));
  inset-inline-start: var(--container-padding, min(2.67vi, 20px));
  inline-size: 25px;
  block-size: 25px;
}

.header__decorative-element {
  position: relative;
  padding-inline-end: 29px;
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight, normal);
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
}

.header__decorative-element::after {
  content: "";
  position: absolute;
  margin-inline-start: 11px;
  margin-block-start: 8px;
  border-radius: 50%;
  object-position: center;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  margin-block-start: clamp(2.5rem, -3.887rem + 27.251vw, 9.5rem);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px 5px;
  outline: none;
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight, normal);
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  line-height: var(--main-font-size, 18px);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color, #ff0070);
}

.header__title {
  margin-block-start: clamp(4.25rem, -2.131rem + 27.226vw, 10.938rem);
  margin-block-end: clamp(3.438rem, -2.944rem + 27.226vw, 10.125rem);
  color: #db00ff;
  font-family: var(--main-font, sans-serif);
  font-weight: var(--accent-font-weight, bold);
  font-size: clamp(7.25rem, 7.011rem + 1.018vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.title {
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--accent-font-weight, bold);
  font-size: var(--main-font-size, 18px);
  line-height: 1.3em;
}

.title_colored {
  color: var(--main-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.header__subtitle {
  display: block;
  margin-inline-start: auto;
  font-style: normal;
  max-inline-size: clamp(22.188rem, 21.651rem + 2.29vw, 22.75rem);
}

.main {
  margin: clamp(2.5rem, 1.307rem + 5.089vw, 3.75rem) 0;
  padding: 0 var(--container-padding, min(2.67vi, 20px));
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section:not(:last-child) {
  margin-block-end: clamp(3.125rem, 1.336rem + 7.634vw, 5rem);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__content {
  color: var(--main-font-color, #f1b2ce);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight, normal);
  font-size: var(--main-font-size, 18px);
  font-style: normal;
  line-height: 130%;
}

.link {
  text-decoration: none;
  text-underline-offset: 3px;
  text-shadow: 2px 1px 0px var(--accent-color, #ff0070);
}

.card-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.card-list__title {
  font-weight: var(--main-font-weight, normal);
  margin-block-end: 10px;
}

.content-section:last-child {
  gap: 10px;
}

.image-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image-list__item img {
  inline-size: 100%;
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 9.813rem);
  }

  .header__subtitle {
    max-inline-size: clamp(22.75rem, -1.063rem + 49.609vw, 30.688rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: -25px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    text-align: initial;
  }

  .header__title {
    margin-block-start: 275px;
    margin-block-end: 114px;
  }

}
