.page {
  font-family: var(--main-font, sans-serif);
  background-color: var(--main-color, #000028);
}

.header {
  padding: min(2.67vi, 20px) 0;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__theme-menu {
  margin-block-start: clamp(4.0625rem, -2.3187rem + 27.2265vi, 10.75rem);
  padding-right: min(2.67vi, 20px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-end;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px 5px;
  outline: none;
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: var(--text-font-size, 18px);
  font-style: normal;
  line-height: var(--text-font-size, 18px);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color, #ff0070);
}

.header__title {
  margin-block-start: clamp(4.25rem, -2.131rem + 27.226vw, 10.938rem);
  margin-block-end: clamp(3.438rem, -2.944rem + 27.226vw, 10.125rem);
  padding-inline-start: 10px;
  color: #db00ff;
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.011rem + 1.018vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__subtitle {
  display: block;
  margin: 0 min(2.67vi, 20px) clamp(3.5rem, -2.881rem + 27.226vw, 10.188rem) auto;
  color: var(--main-color, #000028);
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: var(--text-font-size, 18px);
  font-style: normal;
  line-height: 1.3em;
  background-color: var(--accent-color);
  max-inline-size: clamp(22.188rem, 21.651rem + 2.29vw, 22.75rem);
}

@media (width >= 768px) {
  .header__title {
    padding-inline-start: 0;
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 9.813rem);
  }

  .header__subtitle {
    max-inline-size: clamp(22.75rem, -1.063rem + 49.609vw, 30.688rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 0;
    padding-right: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    text-align: initial;
    justify-content: center;
  }

  .header__theme-menu-item {
    margin-block-end: 0;
  }

  .header__title {
    margin-block-start: 275px;
    margin-block-end: 114px;
  }

  .header__subtitle {
    margin-block-end: 115px;
  }
}
